@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.container {
  display: flex;
  gap: space.$s4;
  margin-bottom: space.$s6;

  > * {
    flex-grow: 1;
  }

  .filters {
    display: flex;
    justify-content: flex-end;
    gap: space.$s4;
  }
}
