@use "@styles/breakpoint";
@use "@styles/space";
@use "@styles/color";
@use "@styles/font";

// width: space.$s5;
// height: space.$s5;

.label {
  font: font.$text-sm-medium;
  color: color.$gray-700;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  // offset outline due to overlap
  margin: 2px 4px;

  &.small {
    gap: 8px;
    font: font.$text-sm-medium;
  }

  &.medium {
    gap: 12px;
    font: font.$text-md-medium;
  }

  .checkbox {
    appearance: none;
    appearance: none;
    appearance: none;
    appearance: none;
    width: space.$s4;
    height: space.$s4;

    &.small {
      width: space.$s4;
      height: space.$s4;
    }

    &.medium {
      width: space.$s5;
      height: space.$s5;
    }

    &:hover {
      background-color: color.$primary-50;
      border: 1px solid color.$primary-300;
    }

    &:focus {
      background-color: white;
      outline: 4px solid color.$primary-50;
    }

    background-color: white;
    border: 1px solid color.$gray-300;
    border-radius: 4px;

    &:checked {
      border-color: color.$primary-600;
      background: url("/icons/check.svg") color.$primary-50 no-repeat center;
    }

    &:indeterminate {
      border-color: color.$primary-600;
      background: url("/icons/minus.svg") color.$primary-50 no-repeat center;
    }
  }
}
